.todo-list {
  padding: 10px;

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 10px;

    .todo-item {
      flex: 0 0 100%;
    }
  }

  .action-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
